@import "fonts.scss";
@import "vars.scss";

@keyframes goose_appear {
    0% {
        top: -100%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: -100%;
    }
}
@keyframes G_appear {
    0% {
        top: 50%;
        left: 47%;
    }
    50% {
        top: 5%;
        left: 5%;
    }
    100% {
        top: 50%;
        left: 47%;
    }
}
@keyframes OO_appear {
    0% {
        top: 50%;
        right: 49%;
    }
    50% {
        top: 5%;
        right: 5%;
    }
    100% {
        top: 50%;
        right: 49%;
    }
}
@keyframes S_appear {
    0% {
        top: 55%;
        left: 47%;
    }
    50% {
        top: 90%;
        left: 5%;
    }
    100% {
        top: 55%;
        left: 47%;
    }
}
@keyframes E_appear {
    0% {
        top: 55%;
        right: 49%;
    }
    50% {
        top: 90%;
        right: 5%;
    }
    100% {
        top: 55%;
        right: 49%;
    }
}

@keyframes floating_text {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg;
    font-family: 'Inter-R', sans-serif;
    color: $white-1;
}

h1 {
    text-transform: uppercase;
    font-family: 'Inter-B';
}

.wrapper{
    display: grid;
    grid-template-rows: 100vh 200px 1fr 200px 80px;
}

.animation {
    height: 100vh;
    position: relative;
    img {
        position: absolute;
        top: -300%;
        left: 35%;
        animation: goose_appear 5s ease 1s infinite;
    }

    .animation__G {
        position: absolute;
        top: 50%;
        left: 47%;
        animation: G_appear 5s ease 1s infinite;
    }
    .animation__OO {
        position: absolute;
        top: 50%;
        right: 49%;
        animation: OO_appear 5s ease 1s infinite;
    }
    .animation__S {
        position: absolute;
        top: 55%;
        left: 47%;
        animation: S_appear 5s ease 1s infinite;
    }
    .animation__E {
        position: absolute;
        top: 55%;
        right: 49%;
        animation: E_appear 5s ease 1s infinite;
    }
}

.marquee {
    padding: 100px 0px;
    font-size: 5rem;
    white-space: nowrap;
    animation: floating_text 14s linear infinite;
}

.text {
    width: 50%;
    letter-spacing: 0.04em
}





.main {
    padding: 0 40px;

    .block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "image image"
        "who_is_goose who_is_goose_text"
        "goose_love_text goose_love"; 
    
        .image {
            grid-area: image;
            width: 100%;
            text-align: center;
            padding: 100px 0px;
        }
        .who_is_goose {
            grid-area: who_is_goose;
        }
        .who_is_goose.text {
            grid-area: who_is_goose_text;
        }
        .goose_love {
            grid-area: goose_love;
            img {
                width: 80%;
            }
        }
        .goose_love.text {
            grid-area: goose_love_text;
            text-align: end;
            margin-left: 40%;
        }
    }


    .block_h {
        .goose_feather_text {
            height: 30vh;
            width: 70%;
            position: relative;
    
            p:nth-child(1) {
                position: absolute;
                width: 40%;
                top: 0%;
                left: 0%;
            }
            p:nth-child(3) {
                position: absolute;
                top: 30%;
                left: 23%;
            }
            p:nth-child(4) {
                position: absolute;
                top: 40%;
                left: 25%;
            }
            p:nth-child(5) {
                position: absolute;
                top: 50%;
                left: 27%;
            }
            p:nth-child(6) {
                position: absolute;
                top: 60%;
                left: 29%;
            }
            p:nth-child(7) {
                position: absolute;
                top: 70%;
                left: 32%;
            }   
        }
        .goose_feather {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            align-items: flex-end;

            .image_b {
                grid-column-start:2
            }
            .image_sm {
                grid-column-start: 3;
            }
        }
        .goose_parent {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 100px;

            .text.image {
                align-self: flex-end;
            }
        }
        .gogogo {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 100px;

            .image img {
                width: 100%;
            }

            .text {
                margin-left: 20%;
            }
        }
    }
}